.awesome {
  width: 100%;
  padding: 80px 0;
  font-family: "Open Sans";
  font-size: 14px;
}

.awesome-title {
  color: #000;
}

.awesome-title::after {
  background-color: #d98943;
}

.awesome-desc {
  text-align: center;
  margin-bottom: 67px;
}

.awesome-row {
  display: flex;
  justify-content: space-around;
  margin: 0 -15px;
}

.awesome-item {
  text-align: center;
  margin: 0 15px;
}

.img-lightbulb {
  display: block;
  margin: 17px auto;
}

.img-keyboard {
  display: block;
  margin: 19px auto;
}

.img-lightning {
  display: block;
  margin: 18px auto;
}

.awesome-item__title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 16px;
}

.awesome-item__desc {
  width: 350px;
}
