.awesome {
  width: 100%;
  padding: 80px 0;
  font-family: "Open Sans";
  font-size: 14px;
}

.awesome-title {
  color: #000;
}

.awesome-title::after {
  background-color: #d98943;
}

.awesome-desc {
  text-align: center;
  margin-bottom: 67px;
}

.awesome-row {
  display: flex;
  justify-content: space-around;
  margin: 0 -15px;
}

.awesome-item {
  text-align: center;
  margin: 0 15px;
}

.awesome-item__img {
  margin: 0 auto 30px;
  width: 70px;
  height: 70px;
  border: 1px solid #d98943;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.awesome-item__img:hover {
  transform: scale(1.2, 1.2);
}

.img-lightbulb {
  font-size: 34px;
  color: #d98943;
}

.img-keyboard {
  font-size: 34px;
  color: #d98943;
}

.img-lightning {
  font-size: 34px;
  color: #d98943;
}

.awesome-item__title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 16px;
}

.awesome-item__desc {
  width: 350px;
}
