.banner {
  width: 100%;
  padding: 6.25rem 0;
  font-family: "Open Sans";
}

.banner-bg {
  width: 100%;
  position: relative;
  background-image: url("/img/background_2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner-bg::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.45);
}

.banner-content {
  display: flex;
  justify-content: space-between;
}

.banner__description {
  max-width: 34rem;
  margin-right: 1.25rem;
}

.banner__logo {
  font-family: "Roboto";
  font-size: 3.75rem;
  font-weight: 400;
  color: #fff;
  margin-bottom: 2rem;
}

.banner__logo::after {
  content: "IT";
  color: #ec7979;
}

.banner__title-text {
  color: #fff;
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 2.625rem;
}

.banner__title::after {
  background-color: #fff;
  margin: 2.125rem 0;
}

.banner__desc {
  margin-bottom: 2.5rem;
}

.banner__desc-text {
  width: 18.75rem;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5);
}

.banner__download {
  width: 8.438rem;
  margin: 0;
  border: 1px solid #ffffff;
  padding: 0.6875rem 1.625rem;
  transition: 0.3s;
}

.banner__download-text {
  font-size: 0.9375rem;
  color: #fff;
  text-decoration: none;
}

.banner__download:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.banner-form {
  max-width: 23.125rem;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.banner-form__container {
  padding: 0.625rem 3.4375rem 1.875rem;
}

.banner-form__title {
  font-family: Open Sans;
  font-size: 1.25rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 2.75rem;
}

.banner-form__title-span {
  text-transform: uppercase;
  color: #ec7979;
}

.banner-form__item {
  margin-bottom: 1.375rem;
}
.banner-form__label {
  display: block;
  font-size: 0.875rem;
  color: #bdbdbd;
}
.banner-form__input {
  display: block;
  width: 100%;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #bdbdbd;
  padding: 0.3125rem 0;
  font-size: 1rem;
}

.banner-form__button {
  display: block;
  width: 100%;
  background-color: #ec7979;
  color: #fff;
  font-size: 0.9375rem;
  padding: 0.9375rem 0;
  border: none;
  border-radius: 0 0 8px 8px;
}
