.header {
  width: 100%;
  background-color: #000;
  padding: 0.625rem 0;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-wrap__logo {
  font-size: 1.875rem;
  font-weight: 400;
  margin-right: 3rem;
  color: #fff;
}

.header-wrap__logo::after {
  content: "IT";
  color: #ec7979;
}

.header-wrap__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 3rem;
}

.nav-item__text {
  transition: 0.5s;
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.9375rem;
  font-weight: 600;
}

.nav-item__text:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  color: #fff;
}
