.social {
  width: 100%;
  padding: 0.875rem 0 1.0625rem;
  font-family: "Open Sans";
  font-size: 0.875rem;
  background-color: #f8efef;
}

.social-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-row__info-title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.875rem;
  color: #333;
}
.social-row__info-text {
  max-width: 22.8125rem;
  color: #86878b;
}

.items-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.items-li {
  margin-left: 2.5rem;
}

.items-li:first-child {
  margin-left: 0;
}

.items-li-icon {
  color: #cccccc;
  font-size: 2.625rem;
}

.items-li-icon:hover {
  color: #d98943;
}
