.social {
  width: 100%;
  padding: 14px 0 17px;
  font-family: "Open Sans";
  font-size: 14px;
  background-color: #f8efef;
}

.social-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-row__info-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 14px;
  color: #333;
}
.social-row__info-text {
  width: 365px;
  color: #86878b;
}

.items-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.items-li-icon {
  color: #cccccc;
  font-size: 42px;
  margin-left: 50px;
}
