@import url("/css/awesome.css");
@import url("/css/price.css");
@import url("/css/customers.css");
@import url("/css/axure.css");
@import url("/css/header.css");
@import url("/css/social.css");
@import url("/css/footer.css");
@import url("/css/banner.css");
@import url("/css/contacts.css");
@import url("/css/tabs.css");


* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

p {
  font-size: 14px;
  color: #86878b;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 42px;
}

.title::after {
  content: "";
  width: 64px;
  height: 2px;
  display: block;
}

.container {
  position: relative;
  z-index: 1;
}
