.tabs {
  width: 100%;
  padding: 5rem 0;
  font-family: "Open Sans";
  font-size: 0.875rem;
}

.tabs-row { 
  display: flex;
  justify-content: space-between;
}

.tabs-row-left {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0 0.9375rem;
 }

.tabs-tab { 
  width: 6.875rem;
  height: 6.875rem;
  background-color: #333;
  transition: 0.3s;
  margin: 0 -0.9375rem 0.3125rem;
}

.tabs-tab:last-child { 
  margin-bottom: 0;
}

.tabs-tab:hover { 
  background-color: #ec7979;
}

.tabs-tab-text { 
  color: #fff;
  text-align: center;
  line-height: 6.875rem;
  font-size: 0.9375rem;
  font-weight: 700;
}

.tabs-row-center {
  max-width: 21.875rem;
  display: flex;
  flex-direction: column;
  margin: 0 0.9375rem;
 }

.tabs-title {
  font-size: 1.25rem;
  font-weight: 700;
  color: #000;
  margin-bottom: 3.75rem;
}

.tabs-text{
  flex-grow: 1;
}

.tabs-paragraph{
  max-width: 31.25rem;
  color: #86878B;
  font-size: 0.875rem;
  font-weight: 400;
  margin-bottom: 1.25rem;
 }

 .tabs-button {
  width: 135px;
  background-color: #ec7979;
  color: #fff;
  font-size: 0.9375rem;
  padding: 0.625rem 0;
  border: none;
 }

.tabs-row-right { 
  margin: 0 0.9375rem;
  max-width: 320px;
  overflow: hidden;
}






